@{
    ViewData["Title"] = "Home Page";
}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Brigten Your Day!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" asp-area="" asp-controller="Products" asp-action="Browse">Browse &raquo;</a></p>
    </div>
</div>
<!-- Jumbotron -->

<!-- Example row of flex containers-->
<div class="d-flex justify-content-around flex-wrap">
    <div class="d-block">
        <h2 class="text-center">Wedding</h2>
        <img class="d-block img-thumbnail" src="images/pinkexpression.jpg" style="width: 244px; height: 266px;">
        <p class="text-center"><a class="btn btn-secondary mt-sm-2" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="d-block">
        <h2 class="text-center">Romantic</h2>
        <img class="d-block img-thumbnail" src="images/redbloom.jpg">
        <p class="text-center"><a class="btn btn-secondary mt-sm-2" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="d-block">
        <h2 class="text-center">Birthday</h2>
        <img class="d-block img-thumbnail" src="images/multicolor.jpg">
        <p class="text-center"><a class="btn btn-secondary mt-sm-2" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>
<!-- Example row of columns -->