body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.item-shadow{
    box-shadow: 0 0 8px #b62474;
}

.card-text-height-norm{
    min-height: 72px;
}

.product-img-thumb{
    width: 244px;
    height: 266px;
}

.product-details{
    width: 100%;
    max-height: 500px;

}

.test{
    border: 1px solid black;
}

/*Applies before this breakpoint is reached (screen smaller than 480 px)*/
@media only screen and (max-width: 480px) {
    .p-d-wrap {
        flex-wrap: wrap;
        justify-content: center;
    }
    .p-d-text{
        text-align: center;
    }
    .p-d-purchace{

    }
}

/*Applies after this breakpoint is reached*/
@media only screen and (min-width: 480px) {
    .p-d-wrap {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .p-d-text{
        text-align: right;
    }
    .p-d-purchace{
        position: absolute;
        bottom:0;
        right:0;
        padding-right: 24px;
    }
}

/*Applies after this breakpoint is reached*/
@media only screen and (min-width: 768px) {
    
}
